.font-xsmall {
    font-size: 0.714em !important;
}
.font-small {
    font-size: 0.786em !important;
}
.font-normal {
    /*font-size: 0.857em !important;*/
}
.font-large {
    font-size: 1em !important;
}
.font-xlarge {
    font-size: 1.143em !important;
}

/***********************************************
 * Breadcrumbs
 **********************************************/
.path {
    position: fixed;
    top: 0;
    left: 0.875em;
    right: 0.875em;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.86);
    font: 1.143em 'Roboto-Medium';
    padding: 0.571em 0 0;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.path .up {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    background: url('../images/action_up.png') no-repeat center center;
    background-size: 1em 1em;
}
.path .up.active {
    background-color: rgba(0, 153, 204, 0.5);
}


/***********************************************
 * Files
 **********************************************/
.files {
    list-style-type: none;
    padding: 0;
    margin: 3em 0 0;
    font: 1em/1.143em 'Roboto-Regular';
}

.files .file .name,
.files .file .details {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.files .file .details {
    font: 0.857em 'Roboto-Regular';
    opacity: 0.5;
}

/**************** Layout: list ****************/
.layout-list .files .file {
    padding: 0.875em 0 0.875em 25px;
    position: relative;
}
.layout-list .files .file:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.layout-list .files .file.active {
    background-color: rgba(0, 153, 204, 0.5);
}

.layout-list .files .file .icon {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    left: 0;
    background-image: url('../images/mimetypes.png');
    background-repeat: no-repeat;
}

.layout-list .files .file .icon.folder { background-position: 0px 0px }
.layout-list .files .file .icon.folder-shared { background-position: 0px -16px }
.layout-list .files .file .icon.document { background-position: 0px -32px }
.layout-list .files .file .icon.spreadsheet { background-position: 0px -48px }
.layout-list .files .file .icon.presentation { background-position: 0px -64px }
.layout-list .files .file .icon.form { background-position: 0px -80px }
.layout-list .files .file .icon.drawing { background-position: 0px -96px }
.layout-list .files .file .icon.word { background-position: 0px -112px }
.layout-list .files .file .icon.excel { background-position: 0px -128px }
.layout-list .files .file .icon.powerpoint { background-position: 0px -144px }
.layout-list .files .file .icon.pdf { background-position: 0px -160px }
.layout-list .files .file .icon.image { background-position: 0px -176px }
.layout-list .files .file .icon.audio { background-position: 0px -192px }
.layout-list .files .file .icon.video { background-position: 0px -208px }
.layout-list .files .file .icon.generic { background-position: 0px -224px }

/************* Layout: thumbnails *************/
.layout-thumbnails .files .file {
    display: inline-block;
    position: relative;
    background: url('../images/thumbnail_bg_transparent.png');
    overflow: hidden;
    text-align: center;
}

/* 1 thumbnail
 *
 * 10" portrait 1x* (width: 200px)
 */
@media screen and (max-width: 255px) {
    .layout-thumbnails .files .file {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        margin-top: 2%;
    }
}
/* 2 thumbnails
 *
 *  7" landscape 1x* (width: 256px)
 *  7" portrait 1x* (width: 300px)
 * 10" landscape 1x* (width: 320px)
 * 10" portrait 2x* (width: 400px)
 */
@media screen and (min-width: 256px) and (max-width: 599px) {
    .layout-thumbnails .files .file {
        width: 48.5%;
        height: 0;
        padding-bottom: 48.5%;
        margin: 3% 3% 0 0;
    }
    .layout-thumbnails .files .file:nth-of-type(2n) {
        margin-right: 0;
    }
}
/* 3 thumbnails
 *
 * 10" portrait 3x* (width: 600px)
 */
@media screen and (min-width: 600px) and (max-width: 639px) {
    .layout-thumbnails .files .file {
        width: 32%;
        height: 0;
        padding-bottom: 32%;
        margin: 2% 2% 0 0;
    }
    .layout-thumbnails .files .file:nth-of-type(3n) {
        margin-right: 0;
    }
}
/* 4 thumbnails
 *
 *  7" landscape 2x* (width: 512px)
 *  7" portrait 2x* (width: 600px)
 * 10" landscape 2x* (width: 640px)
 * 10" portrait 4x* (width: 800px)
 */
@media screen and (min-width: 640px) and (max-width: 959px), screen and (min-width: 512px) and (max-width: 767px) and (device-width: 1024px) {
    .layout-thumbnails .files .file {
        width: 23.5%;
        height: 0;
        padding-bottom: 23.5%;
        margin: 2% 2% 0 0;
    }
    .layout-thumbnails .files .file:nth-of-type(4n) {
        margin-right: 0;
    }
}
/* 6 thumbnails
 *
 *  7" landscape 3x* (width: 768px)
 * 10" landscape 3x* (width: 960px)
 */
@media screen and (min-width: 960px) and (max-width: 1279px), screen and (min-width: 768px) and (max-width: 1023px) and (device-width: 1024px) {
    .layout-thumbnails .files .file {
        width: 15.83%;
        height: 0;
        padding-bottom: 15.83%;
        margin: 1% 1% 0 0;
    }
    .layout-thumbnails .files .file:nth-of-type(6n) {
        margin-right: 0;
    }
}
/* 8 thumbnails
 *
 *  7" landscape 4x* (width: 1024px)
 * 10" landscape 4x* (width: 1280px)
 */
@media screen and (min-width: 1024px) {
    .layout-thumbnails .files .file {
        width: 11.625%;
        height: 0;
        padding-bottom: 11.625%;
        margin: 1% 1% 0 0;
    }
    .layout-thumbnails .files .file:nth-of-type(8n) {
        margin-right: 0;
    }
}

.layout-thumbnails .files .file .thumbnail {
    max-width: 100%;
}

.layout-thumbnails .files .file .infos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.571em 0.875em;
    background: url('../images/thumbnail_bg.png');
    text-align: left;
}

.layout-thumbnails .files .file.active {
    background-color: rgba(0, 153, 204, 0.5);
}