#chameleon-widget-settings header {
    background-color: #fccf48 !important;
}

#chameleon-widget-settings .checkbox-container {
    margin-bottom: 18px;
}

#chameleon-widget-settings input[type="checkbox"] {
    float: left;
}